<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="signed_hasher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <userSettings>
        <signed_hasher.Properties.Settings>
            <setting name="filter" serializeAs="String">
                <value>*.exe,*.msi,*.dll</value>
            </setting>
            <setting name="watchfolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="iconoverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="propertysheet" serializeAs="String">
                <value>False</value>
            </setting>
        </signed_hasher.Properties.Settings>
    </userSettings>
</configuration>
